body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.weather-dashboard {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 600px;
    height: 400px;
    background-color: deeppink;
    padding: 15px; 
    border-radius: 40px;
    
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 20%;
      
}

#search-box {
    padding: 20px;
    height: 30px;
    width: 75%;
    background-color: lightpink;
    border-radius: 40px;
    border: none;
    margin-right: 5px;
    color: white;
    font-family: inherit;
}

#search-button {
    background-color: lightpink;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    
    
}

#search-button span {
    position: relative;
    padding-left: 4px;
}

.material-symbols-outlined{
    float: left;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: white;

}

.weather-info-container {
    display: flex;
    height: 75%;
    

}

.city-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    margin-left: 50px;
    color: #fff;
    gap: 50px;
}

.weather-elements-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #fff;
    align-items: flex-start;
    
}

.weather-elements-container ul{
    height: 100%;
}

.weather-elements-container li {
    display: inline-flex;
    list-style-type: none;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    height: 70px;
    
}

.weather-elements-container span {
}






